{% extends 'posts/base.html' %}

{% block content %}

<h1 style="margin-bottom:20px;">🏃 My Strava Runs</h1>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

{% for run in activities %}
<div class="post-card" style="padding:16px; margin-bottom:16px;">

    <h2 style="font-size:18px;">{{ run.name }}</h2>

    <p class="meta">
        {{ run.start_date|slice:":10" }}
    </p>

    <p>
        Distance: {{ run.distance_km }} km
    </p>

    <p>
        Time: {{ run.time_min }} mins
    </p>

</div>
{% endfor %}

{% endblock %}